.home__row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 20px; */
    width: 100%;
    /* justify-content: center; */
    /* margin-left: 10px;
    margin-right: 10px; */
    
}
.home{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


