
.productInfo__upper{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--theme-ui-colors-primary);
}
.productInfo__img{
    width: 300px;
    margin-right: 10px;
}

.productinfo__img__main{
    width: 100%;
}
.productInfo__img__button{
    display: flex;
}
.productInfo__img__button * img{
    width: 35px;
    height: 35px;
}
.productInfo__img__button > button{
   padding: 0px;
   background: none;
   border-radius: 0px;
    

}
.productInfo__button {
    display: flex;
    margin-top: 10px;
}
.btn1 , .btn2 {
    margin-right: 5px;
}


.productInfo__price{
    font-size: 20px;
    color: var(--theme-ui-colors-heading);
    margin-bottom: 5px;
}
.productInfo__description, .productInfo__feature {
    border-bottom: 1px solid var(--theme-ui-colors-primary);
    font-size: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.productInfo__specification{
    font-size: 15px;
    margin-bottom: 10px;
}
.devices{
    
    width: 100%;
    margin: 0;
}
.device__title{
    width: 100%;
    margin-bottom: 10px;
}
.device__title > h2{
    font-size: 15px;
    border-bottom: 1px solid var(--theme-ui-colors-primary);
}
.device__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    
}
.device__list > div{
    background-color: var(--theme-ui-colors-primary);
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}
br{
    margin: 0;
}
/* .productInfo__battery *{
    background-color: var(--theme-ui-colors-primary);
    border: none;
    color: #ffffff;
    font: 16px;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 45%;
    
} */
button:not(.dialog__button):focus{
    opacity: 0.3;
}
/* #batt1{
 margin-right: 10px;
} */
.popover__btn > button{
    background-color: #444;
    color: #aaa;
    font-weight: bolder;
    border: none;
    padding: 5px 5px;
    border-radius: 0;
}
.power{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    grid-row-gap: 10px;
    margin-top: 10px;
}
.icon{
    width: 50px;
    height: 50px;
}
.power>div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power>div >p{
    text-align: center;
    line-height: 17px;
}
.feature__list{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.feature__list>p{
background-color: var(--theme-ui-colors-primary);
text-align: center;
color: #ffffff;
padding: 5px 10px;
border-radius: 5px;
margin: 5px;
}
.specification__info>div>div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 10px;
}
.specification__info>div{
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
    .productInfo__upper{
        flex-direction: column;
    }
    .power{
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 5px;
    }
    .productInfo__namePrice{
        margin-top: 10px;
    }
    .feature__list{
        grid-template-columns: 1fr;
    }
    .specification__info>div>div{
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }
}
